.navbar {
  background-color: $mainPurple;
}

.grow {
  flex-grow: 1;
  height: 100px;
}

.link {
  color: $white;
  text-decoration: none;
}

.menuButton {
  margin-right: spacing(2);
}

.menuTitle {
  font-size: 16px;
}

.title {
  display: none;

  @media screen and (max-width: $sm) {
    .title {
      display: block;
    }
  }
}

.search {
  position: relative;
  border-radius: 10px;
  margin-right: spacing(2);
  margin-left: 0;
  width: 100%;

  @media screen and (max-width: $sm) {
    .search {
      margin-left: spacing(3);
      width: auto;
    }
  }
}

.searchIcon {
  padding: spacing(0, 2);
  height: 100%;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputRoot {
  color: inherit;
}

.personIcon {
  font-size: 25px;
}

.sectionDesktop {
  display: none;

  @media screen and (max-width: $md) {
    .sectionDesktop {
      display: flex;
    }
  }
}

.sectionMobile {
  display: flex;

  @media screen and (max-width: $md) {
    .sectionMobile {
      display: none;
    }
  }
}
